@model catbug.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.Title)</h1>

    <div class="entry">
        <div class="context">@Html.DisplayFor(model => model.Context)</div>
        <div class="sidebar">
            <div class="date">@Html.DisplayFor(model => model.Created)</div>
        </div>
    </div>
</div>