.entry {
    display: flex;
}

    .entry .context {
        flex: 2;
        white-space: pre-line;
        margin-bottom: 5rem;
    }

    .entry .sidebar {
        flex: 1;
        margin-left: 2rem;
    }

        .entry .sidebar .date {
            text-align: right;
        }

        .entry .sidebar .categories {
            margin: 2rem 0;
        }

            .entry .sidebar .categories .category {
                border: .125rem solid rgba(127,127,127,.1);
                margin: 1rem 0;
                padding: .5rem .75rem;
                line-height: 1rem;
                border-radius: 2.25rem;
            }
