.portfolio-filtering {
    display: flex;
    padding: 1rem 0;
    color: white;
}

    .portfolio-filtering .title {
    }

    .portfolio-filtering .sorting {
        display: flex;
    }

        .portfolio-filtering .sorting .description {
        }

        .portfolio-filtering .sorting .simplecheckbox {
            display: block;
            margin: unset;
            cursor: pointer;
            padding: 0 1rem;
            color: rgba(255, 255, 255, .75);
        }

            .portfolio-filtering .sorting .simplecheckbox:hover input[type=checkbox] + span {
                color: white;
            }

            .portfolio-filtering .sorting .simplecheckbox input[type=checkbox] {
                display: none;
            }

                .portfolio-filtering .sorting .simplecheckbox input[type=checkbox]:checked + span {
                    color: #ff0083;
                }

.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 1rem;
}

    .portfolio .item {
        flex: 1;
        min-width: 20rem;
        padding: 1rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: inherit;
        color: inherit;
        min-height: 15rem;
        border-radius: 1rem;
        margin: 1rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
        position: relative;
        overflow: hidden;
    }

        .portfolio .item:focus {
            outline: none;
        }

        .portfolio .item:before {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: inherit;
            border-radius: inherit;
            position: absolute;
            border-width: 0;
            border-style: solid;
            z-index: -1;
        }

        .portfolio .item:focus:before {
            border-width: .25rem;
        }

        .portfolio .item:hover:before {
            border-width: .5rem;
        }

        .portfolio .item:active:before {
            border-width: 7.5rem;
        }

        .portfolio .item:hover {
        }

        .portfolio .item:nth-child(1):before {
            border-color: rgb(138, 111, 126);
        }

        .portfolio .item:nth-child(2):before {
            border-color: rgb(243, 130, 91);
        }

        .portfolio .item:nth-child(3):before {
            border-color: rgb(155, 100, 195);
        }

        .portfolio .item:nth-child(4):before {
            border-color: rgb(33, 205, 236);
        }

        .portfolio .item:nth-child(5):before {
            border-color: rgb(234, 184, 151);
        }

        .portfolio .item:nth-child(6):before {
            border-color: rgb(20, 226, 202);
        }

        .portfolio .item:nth-child(7):before {
            border-color: rgb(39, 203, 192);
        }

        .portfolio .item:nth-child(8):before {
            border-color: rgb(80, 177, 206);
        }

        .portfolio .item:nth-child(9):before {
            border-color: rgb(49, 181, 0);
        }

        .portfolio .item:nth-child(10):before {
            border-color: rgb(145, 89, 169);
        }

        .portfolio .item:nth-child(11):before {
            border-color: rgb(198, 93, 61);
        }

        .portfolio .item:nth-child(12):before {
            border-color: rgb(205, 193, 141);
        }

        .portfolio .item h2 {
            margin: 0;
            font-weight: 900;
            font-size: 1.5rem;
            line-height: 1.5rem;
            letter-spacing: .1em;
            word-spacing: .2em;
            text-transform: uppercase;
        }

        .portfolio .item p {
            margin: 0;
        }

        .portfolio .item .tags {
        }

            .portfolio .item .tags > span {
                opacity: .5;
                font-size: 10px;
                position: relative;
            }

                .portfolio .item .tags > span:not(:first-child):before {
                    content: '•';
                    margin: 0 .5em;
                }
