@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="menu color-primary">
        <a asp-controller="Categories" asp-action="Index">Categories</a>
        <a asp-controller="Entries" asp-action="Index">Entries</a>
        <a asp-controller="LearningCycles" asp-action="Index">Learning Cycles</a>
        <a asp-controller="LearningObjectives" asp-action="Index">Learning Objectives</a>
    </div>
}
