@model List<Entry>

@using catbug.Data;

@foreach (Entry item in Model)
{
    <div class="item">
        <h2>@item.Title</h2>
        <div class="tags">
            @foreach (EntryCategory entryCategory in item.EntryCategories)
            {
                <span>@entryCategory.Category.Title</span>
            }
            <span title="@Html.DisplayFor(model => item.Created)">@item.Created.ToSimple()</span>
        </div>
    </div>
}