@model IEnumerable<Entry>

@using catbug.Data

@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form class="sorting LiveForm" data-container="portfolio" method="post">
        @foreach (Category category in Context.Categories)
        {
            <label class="simplecheckbox">
                <input type="checkbox" name="categoryIds" value="@category.Id" @(ViewBag.categoryIds.Contains(category.Id) ? "checked" : "") />
                <span>@category.Title</span>
            </label>
        }
    </form>
</div>
<div class="portfolio" id="portfolio">
    <partial name="_portfolioPartialView" model="Model" />
</div>