@using catbug.Data

@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "Home Page";
}

<div class="portfolio-filtering">
    <div class="title"></div>
    <div class="sorting">
        <div class="description"></div>
        @foreach (Category category in Context.Categories)
        {
            <input type="checkbox" name="category" value="@category.Id" />
            <label>@category.Title</label>
        }
    </div>
</div>
<div class="portfolio">
    <partial name="_portfolioPartialView" model="Context.Entries.OrderByDescending(o => o.Id).ToList()" />
</div>