@{
    ViewData["Title"] = "Home Page";
}

<div class="portfolio-filtering">
    <div class="title"></div>
    <div class="sorting">
        <div class="description"></div>
        @foreach (EntryCategory category in Enum.GetValues(typeof(EntryCategory)))
        {
            <input type="checkbox" name="category" value="@((int)category)" />
            <label>@Html.DisplayFor(_ => category)</label>
        }
    </div>
</div>
<div class="portfolio">
    <partial name="_portfolioPartialView" model="ViewBag.entries" />
</div>