@{
    ViewData["Title"] = "Home Page";
}

<div class="portfolio-filtering">
    <div class="title"></div>
    <div class="sorting">
        <div class="description"></div>
        @foreach (Category category in ViewBag.categories)
        {
            <input type="checkbox" name="category" value="@category.Id" />
            <label>@category.Title</label>
        }
    </div>
</div>
<div class="portfolio">
    <partial name="_portfolioPartialView" model="ViewBag.entries" />
</div>